Datathon FME 2022

In [ ]:
!git clone https://github.com/data-students/datathonfme2022.git

Cloning into 'datathonfme2022'...
remote: Enumerating objects: 225, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 225 (delta 1), reused 8 (delta 1), pack-reused 215
Receiving objects: 100% (225/225), 93.70 MiB | 17.39 MiB/s, done.
Resolving deltas: 100% (41/41), done.
Checking out files: 100% (175/175), done.

In [ ]:
import pandas as pd
from sklearn.metrics import mean_absolute_error

In [ ]:
df_cities = pd.read_csv("/content/datathonfme2022/accenture_challenge/datathon_SC_ACN_22/cities_data.csv", sep=";")
df_orders = pd.read_csv("/content/datathonfme2022/accenture_challenge/datathon_SC_ACN_22/orders.csv", sep=";")
df_products = pd.read_csv("/content/datathonfme2022/accenture_challenge/datathon_SC_ACN_22/product_attributes.csv")

In [ ]:
print(df_orders.head())
print(df_cities.head())
print(df_products.head())

       order_id origin_port    3pl customs_procedures logistic_hub   customer  \
0  366c7a3d298f   Rotterdam  v_002                DTP        Venlo  Marseille
1  45f906331e10   Rotterdam  v_004                CRF         Rome  Marseille
2  ac84a6e4af0f      Athens  v_002                CRF        Venlo      Paris
3  f5e98cb29790   Rotterdam  v_004                CRF        Lille      Milan
4  a9e7c9bee35b   Barcelona  v_002                CRF        Venlo     Berlin

   product_id  units  late_order
0     1692723    583        True
1     1644308    459       False
2     1684170    464        True
3     1620510    678       False
4     1699372    353       False
  city_from_name city_to_name          city_from_coord  \
0     Dusseldorf     Zaragoza  (51.2254018, 6.7763137)
1     Dusseldorf        Venlo  (51.2254018, 6.7763137)
2     Dusseldorf   Bratislava  (51.2254018, 6.7763137)
3     Dusseldorf      Hamburg  (51.2254018, 6.7763137)
4     Dusseldorf         Rome  (51.2254018, 6.7763137)

                       city_to_coord   distance
0           (41.6521342, -0.8809428)  1214.4772
1  (51.39244885, 6.1511724144122955)    47.3876
2           (48.1516988, 17.1093063)   819.2894
3             (53.550341, 10.000654)   339.2215
4           (41.8933203, 12.4829321)  1125.0290
   product_id  weight  material_handling
0     1672707    2876                  3
1     1694456    2785                  5
2     1682865    2751                  3
3     1689146    2736                  0
4     1664069    2707                  4

## Feature Engineering

In [ ]:
distances = []
for i in df_orders.values:
    dist = ((df_cities[(df_cities["city_from_name"] == i[1]) & (df_cities["city_to_name"] == i[4])]["distance"].values) or (df_cities[(df_cities["city_from_name"] == i[4]) & (df_cities["city_to_name"] == i[1])]["distance"].values))
    if (dist):
        distances.append(dist[0])
    else:
        distances.append(0)

df_orders["dist_to_hub"] = distances

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  after removing the cwd from sys.path.

## Plottings

In [ ]:
import matplotlib.pyplot as plt

KeyError: ignored

Cleaned data frame:

In [ ]:
df = pd.read_csv('https://github.com/data-students/datathonfme2022/raw/main/accenture_challenge/datathon_SC_ACN_22/orders.csv', sep=';')

ciutats = set()

for i in range(len(df['origin_port'])):
	if df.at[i,'origin_port'] == 'ATHENAS':
		df.at[i,'origin_port'] = 'Athens'
	if df.at[i,'origin_port'] == 'BCN':
		df.at[i,'origin_port'] = 'Barcelona'
		
	ciutats.add(df.at[i,'origin_port'])
 
df.sort_values('origin_port', inplace=True)

Arriben tard Atenes:

In [ ]:
df_athens = df[df['origin_port'] == 'Athens']

athens_tard = len(df_athens[df['late_order']])
athens_total = df_athens.shape[0]

athens_perc = ((athens_tard*100)/(athens_total))

print(athens_perc)

NameError: ignored

Arriben tard Barcelona:

In [ ]:
df_bcn = df[df['origin_port'] == 'Barcelona']

bcn_tard = len(df_bcn[df['late_order']])
bcn_total = df_bcn.shape[0]

bcn_perc = ((bcn_tard*100)/(bcn_total))

print(bcn_perc)

27.022638708480237

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Arriben tard Rotterdam:

In [ ]:
df_rot = df[df['origin_port'] == 'Rotterdam']

rot_tard = len(df_rot[df['late_order']])
rot_total = df_rot.shape[0]

rot_perc = ((rot_tard*100)/(rot_total))

print(rot_perc)

16.921047383841326

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Arriben tard per categoria de producte (inflamable etc)

In [ ]:
#afegeix material_handling i weight a df_orders

df_orders["material_handling"] = 0
df_orders
for i, id in enumerate(df_orders["product_id"]):
  if id != -1:
    df_orders.loc[df_orders["product_id"] == id, "material_handling"] = df_products[df_products["product_id"] == id]["material_handling"].values[0]
    df_orders.loc[df_orders["product_id"] == id, "weight"] = df_products[df_products["product_id"] == id]["weight"].values[0]
 
df_orders.head()

,order_id,origin_port,3pl,customs_procedures,logistic_hub,customer,product_id,units,late_order,dist_to_hub,direct,material_handling,weight
0,366c7a3d298f,Rotterdam,v_002,DTP,Venlo,Marseille,1692723,583,True,130.0459,True,5,1778.0
1,45f906331e10,Rotterdam,v_004,CRF,Rome,Marseille,1644308,459,False,1269.2365,True,3,1088.0
2,ac84a6e4af0f,Athens,v_002,CRF,Venlo,Paris,1684170,464,True,2029.5726,True,4,505.0
3,f5e98cb29790,Rotterdam,v_004,CRF,Lille,Milan,1620510,678,False,173.9644,True,4,1308.0
4,a9e7c9bee35b,Barcelona,v_002,CRF,Venlo,Berlin,1699372,353,False,1153.4178,True,0,1465.0

In [ ]:
df_orders.values[727]

array(['8857c48cf1b1', 'Barcelona', 'v_003', 'CRF', 'Venlo', 'Munich', -1,
       371, False, 0, nan], dtype=object)

In [ ]:
#delays per categoria
late = [0 for x in range(6)]
total = [0 for x in range(6)]

for i, id in enumerate(df_orders["product_id"]):
  total[df_orders[df_orders["product_id"] == id]["material_handling"].values[0]] += 1
  if df_orders[df_orders["product_id"] == id]["late_order"].values[0] == True:
    late[df_orders[df_orders["product_id"] == id]["material_handling"].values[0]] += 1

for i in range(6):
  if total[i] != 0:
    print(i, ":",late[i]/total[i]*100 , "%")
  else:
    print(i, ":", 0, "%")

0 : 26.885745978924014 %
1 : 13.564335516585674 %
2 : 26.280871940681273 %
3 : 22.022699635184434 %
4 : 34.00344629523263 %
5 : 26.452786146622152 %

In [ ]:
#delays per weight  
late = [0 for x in range(6)]
total = [0 for x in range(6)] 

for i, id in enumerate(df_orders["product_id"]):
  if df_orders[df_orders["product_id"] == id]["weight"].values[0] < 500:
    category_weight = 0
  elif df_orders[df_orders["product_id"] == id]["weight"].values[0] < 1000:
    category_weight = 1
  elif df_orders[df_orders["product_id"] == id]["weight"].values[0] < 1500:
    category_weight = 2
  elif df_orders[df_orders["product_id"] == id]["weight"].values[0] < 2000:
    category_weight = 3
  elif df_orders[df_orders["product_id"] == id]["weight"].values[0] < 2500:
    category_weight = 4
  else:
    category_weight = 5

  total[category_weight] += 1
  if df_orders[df_orders["product_id"] == id]["late_order"].values[0] == True:
    late[category_weight] += 1

for i in range(6):
  if total[i] != 0:
    print(i, ":",late[i]/total[i]*100 , "%")
  else:
    print(i, ":", 0, "%")

0 : 45.513990267639905 %
1 : 30.362459065197978 %
2 : 16.01147174034695 %
3 : 24.437656206609276 %
4 : 48.85278432345281 %
5 : 69.50420954162769 %

In [ ]:
#quins customs procedures
procedures = set()
for i, id in enumerate(df_orders["product_id"]):
  procedures.add(df_orders[df_orders["product_id"]== id]["customs_procedures"].values[0])

print(procedures)

{'DTD', 'CRF', 'DTP'}

In [ ]:
#delays per custom_procedure
late = {"DTD": 0, "CRF": 0, "DTP": 0}
total = {"DTD": 0, "CRF": 0, "DTP": 0}

for i, id in enumerate(df_orders["product_id"]):
  total[df_orders[df_orders["product_id"] == id]["customs_procedures"].values[0]] += 1
  if df_orders[df_orders["product_id"] == id]["late_order"].values[0] == True:
    late[df_orders[df_orders["product_id"] == id]["customs_procedures"].values[0]] += 1

for i in late.keys():
    print(i, ":",late[i]/total[i]*100 , "%")

DTD : 31.912410122327017 %
CRF : 19.849250884308386 %
DTP : 30.688528349481164 %

In [ ]:
# Code you have previously used to load data
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

# Create target object and call it y
y = df_orders.late_order
# Create X
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = df_orders[features]

# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Specify Model
model = DecisionTreeRegressor(random_state=1)
# Fit Model
model.fit(train_X, train_y)

# Make validation predictions and calculate mean absolute error
val_predictions = model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_mae))

# Using best value for max_leaf_nodes
model = DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)
model.fit(train_X, train_y)
val_predictions = model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
"""
Creates column direct
"""
df_orders["direct"] = df_orders["logistic_hub"] is not None

In [ ]:
"""
Application of the model Logisti regressio
"""
#df_orders = pd.get_dummies(df_orders, prefix = ["customs_procedures", "3pl"], columns = ["customs_procedures", "3pl"])
#df.orders.head()
model = LogisticRegression()
X = df_orders[["customs_procedures_CRF", "customs_procedures_DTD", "customs_procedures_DTP", "3pl_v_001", "3pl_v_002", "3pl_v_003", "3pl_v_004", "dist_to_hub", "weight", "material_handling"]].values
y = df_orders["late_order"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
model.fit(X_train, y_train)
print(sum(model.predict(X_test) == y_test)/y_test.size)

ValueError: ignored

In [ ]:
df_orders.head(50)

,order_id,origin_port,logistic_hub,customer,product_id,units,late_order,dist_to_hub,direct,material_handling,weight,customs_procedures_CRF,customs_procedures_DTD,customs_procedures_DTP,3pl_v_001,3pl_v_002,3pl_v_003,3pl_v_004
0,366c7a3d298f,Rotterdam,Venlo,Marseille,1692723,583,True,130.0459,True,5,1778.0,0,0,1,0,1,0,0
1,45f906331e10,Rotterdam,Rome,Marseille,1644308,459,False,1269.2365,True,3,1088.0,1,0,0,0,0,0,1
2,ac84a6e4af0f,Athens,Venlo,Paris,1684170,464,True,2029.5726,True,4,505.0,1,0,0,0,1,0,0
3,f5e98cb29790,Rotterdam,Lille,Milan,1620510,678,False,173.9644,True,4,1308.0,1,0,0,0,0,0,1
4,a9e7c9bee35b,Barcelona,Venlo,Berlin,1699372,353,False,1153.4178,True,0,1465.0,1,0,0,0,1,0,0
5,2979d20eb8d0,Athens,Rome,Munich,1690621,496,True,1053.5083,True,5,744.0,0,0,1,0,1,0,0
6,63964549191c,Rotterdam,Rome,Milan,1699793,609,True,1269.2365,True,2,2400.0,0,1,0,0,0,0,1
7,31cff7150be8,Athens,Venlo,Prague,1699772,481,True,2029.5726,True,5,431.0,1,0,0,0,1,0,0
8,6b1c40151189,Athens,Venlo,Rome,1672661,557,True,2029.5726,True,5,1051.0,0,1,0,1,0,0,0
9,c5e60f499f92,Rotterdam,Venlo,Madrid,1699836,465,False,130.0459,True,3,445.0,0,1,0,0,1,0,0
10,affff317600e,Rotterdam,Bratislava,Naples,1651350,417,False,995.7185,True,2,722.0,0,1,0,0,0,0,1
11,eb7ffd5596e1,Rotterdam,Warsaw,Milan,1650904,422,False,1135.6449,True,0,1163.0,0,1,0,0,1,0,0
12,dc27fb67fd2a,Rotterdam,NaN,Paris,1656246,500,False,0.0000,True,0,727.0,0,1,0,1,0,0,0
13,a62b42a294e1,Rotterdam,Rome,Berlin,1660563,563,True,1269.2365,True,3,2214.0,1,0,0,0,0,0,1
14,023674dbb031,Rotterdam,Rome,Berlin,1686756,476,False,1269.2365,True,3,1208.0,1,0,0,0,0,0,1
15,3f31976271c6,Athens,Venlo,Milan,1621719,511,False,2029.5726,True,5,855.0,1,0,0,0,0,1,0
16,f8ff543ea3a6,Barcelona,Lille,Paris,1690614,676,True,1030.8249,True,1,2357.0,0,0,1,0,1,0,0
17,9eafdeceea86,Rotterdam,Rome,Athens,1655982,550,False,1269.2365,True,0,1262.0,0,0,1,0,1,0,0
18,5d95f22aade9,Rotterdam,Dusseldorf,Lisbon,1699526,540,False,177.3075,True,3,1132.0,0,1,0,1,0,0,0
19,d3991f59726b,Barcelona,Hamburg,Turin,1650715,473,True,1473.6254,True,4,1895.0,0,1,0,0,0,0,1
20,c61800bb2fd5,Rotterdam,Hamburg,Vienna,1666958,469,False,414.4489,True,3,747.0,0,0,1,0,1,0,0
21,32b29fc439e8,Rotterdam,Hamburg,Rome,1699564,444,False,414.4489,True,3,1089.0,0,1,0,0,0,0,1
22,fb0b11a51621,Rotterdam,Rome,Munich,1699433,470,False,1269.2365,True,2,1555.0,0,1,0,0,0,0,1
23,1a7ebdaa6ece,BCN,Venlo,Berlin,1682802,409,False,0.0000,True,3,1042.0,0,1,0,0,1,0,0
24,8aa058a6fe3a,Rotterdam,Venlo,Marseille,1667126,499,False,130.0459,True,4,274.0,0,1,0,0,0,0,1
25,030e5c5b9ffc,Rotterdam,Venlo,Stockholm,1699290,458,False,130.0459,True,3,1425.0,0,1,0,0,0,0,1
26,ff3f7626f017,Rotterdam,Liege,Barcelona,1674380,519,False,161.5622,True,4,888.0,1,0,0,0,1,0,0
27,9dbd37cf8cf5,Athens,Rome,Stockholm,1672713,481,False,1053.5083,True,4,1096.0,1,0,0,0,1,0,0
28,83e6cf23eb39,Rotterdam,Venlo,Turin,1692956,497,False,130.0459,True,5,1343.0,0,1,0,0,1,0,0
29,2ae14c40769a,Athens,Hamburg,Vienna,1699625,436,False,2025.2207,True,3,1711.0,0,0,1,0,0,0,1
30,4a8ce87a8636,Athens,Rome,Madrid,1696476,395,False,1053.5083,True,1,1328.0,1,0,0,0,0,0,1
31,8fa050d21d34,Barcelona,Rome,Rome,1696533,503,False,859.9884,True,5,1430.0,0,1,0,0,0,0,1
32,cda194741099,Athens,Lille,Prague,1657063,503,False,2153.5800,True,4,1842.0,1,0,0,0,0,0,1
33,77895b7a94ce,Barcelona,Warsaw,Amsterdam,1672088,558,False,1870.1057,True,3,1085.0,1,0,0,0,0,0,1
34,38fcb7809f35,Athens,Venlo,Madrid,1692722,466,False,2029.5726,True,5,1527.0,1,0,0,0,1,0,0
35,75a27cb54bf5,Rotterdam,NaN,Valencia,1679991,517,False,0.0000,True,1,1664.0,1,0,0,1,0,0,0
36,93325a0c8ea4,Rotterdam,Dusseldorf,Cologne,1683190,480,False,177.3075,True,1,595.0,0,1,0,0,0,0,1
37,23660560ae1d,Rotterdam,Venlo,Vienna,1672088,562,False,130.0459,True,3,1085.0,0,1,0,0,0,0,1
38,0f7c42e8c395,Barcelona,Zaragoza,Malmö,1668099,522,False,257.0251,True,3,847.0,1,0,0,0,1,0,0
39,3c33511425d3,Rotterdam,Lille,Lisbon,1660563,439,True,173.9644,True,3,2214.0,0,1,0,0,0,0,1
40,edd8310f3a33,Athens,Warsaw,Paris,1651366,452,True,1597.0905,True,5,1829.0,0,1,0,0,1,0,0
41,c24608e30ec9,Rotterdam,Venlo,Milan,1681688,452,False,130.0459,True,2,1193.0,1,0,0,0,1,0,0
42,0f1c01a1947c,Rotterdam,Warsaw,Marseille,1699794,374,True,1135.6449,True,3,2042.0,0,1,0,0,1,0,0
43,e7fe583edfbe,Rotterdam,Zaragoza,Madrid,1657474,506,True,1212.1854,True,5,598.0,0,1,0,0,1,0,0
44,308ac856f98e,Rotterdam,Warsaw,Budapest,1681377,500,False,1135.6449,True,2,1142.0,0,0,1,0,1,0,0
45,608b25f4b4d3,Rotterdam,Hamburg,Naples,1696754,525,False,414.4489,True,0,1444.0,1,0,0,1,0,0,0
46,23ee552f5706,Rotterdam,Venlo,Stockholm,1688288,480,False,130.0459,True,2,1294.0,0,1,0,0,1,0,0
47,20aba96fae16,Rotterdam,Bratislava,Stockholm,1657474,496,False,995.7185,True,5,598.0,1,0,0,0,1,0,0
48,629a6c6caa37,Barcelona,Venlo,Amsterdam,1651350,472,False,1153.4178,True,2,722.0,0,1,0,0,0,0,1
49,5ad51dda0db7,Barcelona,Hamburg,Budapest,1667126,485,False,1473.6254,True,4,274.0,1,0,0,1,0,0,0